<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .justify-content-between{
            justify-content: space-around;
            justify-content: space-between;
            justify-content: space-evenly;
            text-align:center ;
            object-fit: cover;
            object-fit: contain;
            box-shadow: 10px 10px grey;
        }
    </style>
</head>
<body>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam numquam officia amet esse deserunt asperiores sunt ducimus mollitia maiores? Nulla praesentium at hic nobis aut reprehenderit ratione ut, dolorum laborum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, quos praesentium. Eum aperiam fuga saepe expedita. Assumenda pariatur odio animi voluptate porro nostrum harum maxime, enim fuga, modi, architecto odit.</p>
</body>
</html>