<h2>Introduction to Course and Lecturer!</h2>
<ul>
  <li>Introduction to Course and</li>
  <li>Resources</li>
  <li>Installation and Configuration</li>
  <li>Bulma CSS</li>
  <li>Vue Single File Components</li>
  <li>Directives - Loops with v-for</li>
  <li>Bindings with v-bind</li>
  <li>Events and Reactivity</li>
  <li>More on Events</li>
  <li>Reactivity with Ref</li>
  <li>Type Safety with TypeScript</li>
  <li>DateTimes with Luxon</li>
  <li>Derived Data with Computed</li>
  <li>Passing Data with Props and a Refactor</li>
</ul>

<h2>Section 2: Loading with Suspense and a Reactive Store from Scratch</h2>
<ul>
  <li>Creating a Custom Reactive Store
    <p>for large application needs to maintain common store for that needs to adopt<strong>PINIA</strong> lib</p>
    <ol>
        <li>create store folder at src location </li>
        <li>create posts.ts file inside store folder</li>
    </ol>
  </li>
  <li>Errata: Installing Pinia</li>
  <li>Moving to Pinia for State Management</li>
  <li>State Data Structures</li>
  <li>Extracting Complexity</li>
  <li>A Bit of Node.js</li>
  <li>Fetching Data with Fetch</li>
  <li>Loading States with Suspense</li>
</ul>
<h2>
  Section 3: Vue Router, Creating Posts with Markdown and Syntax Highlighting
</h2>
<ul>
  <li>Introduction to Module - Routing and Posts</li>
  <li>Routing with Vue Router</li>
  <li>New Post Route</li>
  <li>Creating the Post Writer Component</li>
  <li>Two way binding with v-model</li>
  <li>DOM Access with Template Refs</li>
  <li>Two Way Binding with content editable</li>
  <li>Reactive Markdown with watchEffect</li>
  <li>Syntax Highlighting!</li>
  <li>Optimization with debounce</li>
  <li>Posting a New Post</li>
  <li>Node.js - Post Endpoint</li>
  <li>Post Request and Persisting Data</li>
</ul>
<h2>Section 4: User Sign Up, Validation and Reuseble Components</h2>
<ul>
  <li>Introduction to Module - Teleport and Forms</li>
  <li>Teleport for Modals</li>
  <li>Creating the useModal Composable</li>
  <li>v-model with Custom Components</li>
  <li>Framework Agnostic Validation - Part 1</li>
  <li>Framework Agnostic Validation - Part 2</li>
  <li>Linking Validation and Form Inputs</li>
  <li>Submitting the Form and Event Modifiers</li>
  <li>Defining the Users Store</li>
  <li>Node.js - User Creation Endpoint</li>
</ul>
<h2>Section 5: Ins and Outs of Authentication</h2>
<ul>
  <li>Introduction to Module - Authentication</li>
  <li>Tooling - Vite Proxy Configuration</li>
  <li>Signing a JWT</li>
  <li>Authenticating Users</li>
  <li>Conditionally Rendering for Authenticated Users</li>
  <li>Implementing Logout</li>
  <li>The Power of Dynamic Components</li>
  <li>Making UserForm Generic for Sign Up and Sign In</li>
  <li>Handling Failed Login</li>
  <li>Node.js - Login Endpoint</li>
  <li>Homework and Exercises!</li>
</ul>

<h2>Section 6: Finishing the App, Deployment and Next Steps!</h2>

<ul>
  <li>Introduction to Module - Authorization and Finishing Touches</li>
  <li>Vue Router and Navigation Guards</li>
  <li>Showing Posts</li>
  <li>Editing Posts</li>
  <li>Associating Posts with Users</li>
  <li>Conditionally Editing Posts</li>
  <li>An Essential Refactor Guided by TypeScript</li>
  <li>Node.js - PUT Endpoint for Updates</li>
  <li>Solving the Race Condition</li>
  <li>Deploying to Production - Digital Ocean and Nginx</li>
  <li>Parting Recommendations and Next Steps!</li>
  <li>Testing (Cypress, Test Utils, Vite)</li>
</ul>

<h2>Section 7: Component Testing (Vitest, Vue Test Utils)</h2>
<ul>
  <li>Setting Up Vitest</li>
  <li>Other Tools</li>
  <li>Mounting Component with Vue Test Utils</li>
  <li>Interacting with Components using Trigger</li>
  <li>Installing Plugins in Tests</li>
  <li>Testing Navbar and Auth Status</li>
  <li>Stubbing Globals with Vitest</li>
  <li>Testing Teleport</li>
  <li>Testing Forms and Emitted Events</li>
  <li>Async Tests and Inline Snapshots</li>
  <li>Some TSX and Testing Philosophy</li>
</ul>
